name: Upload on new tags

on:
  push:
    tags:
      '*'

jobs:
  buildAndUpload:
    runs-on: windows-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4.2.2
    - name: Set up Python
      uses: actions/setup-python@v5.3.0
      with:
        python-version: "3.11"
        architecture: "x86"
    - name: Install dependencies
      run: pip install scons markdown
    - name: Build add-on
      run: scons
    - name: Build pot template
      run: scons pot
    - name: Calculate sha256
      run: sha256sum *.nvda-addon >> changelog.md
    - name: Release
      uses: softprops/action-gh-release@v2.2.0
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        files: |
          *.nvda-addon
          *.json
          *.pot
        body_path: changelog.md
        prerelease: ${{ contains(github.ref, '-') }}
